a {
    text-decoration: none;
}

b {
    color: #ff1900;
}

a.avatar {
    position: fixed;
    bottom: 15px;
    right: -100px;
    animation: slide 0.5s 0.5s forwards;
    display: block;
    z-index: 4
}
a.avatar img {
    border-radius: 100%;
    width: 44px;
}

@keyframes slide {
    from {
        right: -100px;
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        right: 15px;
        transform: rotate(0deg);
        opacity: 1;
    }
}