<!doctype html>
<title>Sayfa Bakımda</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Sayfa Bakımda</h1>
    <div>
        <p>Aradığınız Sayfa Şuanda Bakımda <a href="/desteksunucu">Destek Sunucumuza</a> Gelip Bizmle İletişime Geçebilirsiniz  </p>
        <p>&mdash; Imam-Bot Ekibi</p>
    </div>
<link rel="stylesheet" href="/css/bugreport.css" />
<a class="avatar" href="https://forms.gle/8aecRdtnk1wtowZY9" title="Bug Bildirmek İçin Tıkla"><img src="https://cdn.discordapp.com/attachments/479234463755272192/603541826766372869/657758_animal.png"/></a>
</article>